{% extends "admin/base_site.html" %} {% block extrahead %} {{block.super}}

<style>
  .select2-selection__choice__display {
    color: rgb(55, 57, 61);
  }

  aside#jazzy-sidebar {
    min-height: 100vh;
    position: fixed;
    background-color: rgb(61, 61, 71);
  }

  .alert-success .active {
    color: rgb(196, 200, 244) !important;
  }

  .nav-sidebar > .nav-header,
  .sidebar-form {
    overflow: hidden;
    text-overflow: clip;
    display: none;
  }

  #result_list tr th div.text span {
    color: rgb(61, 61, 71);
  }

  #result_list tr th div.text a {
    color: rgb(61, 61, 71);
  }
</style>
{% endblock %}
